/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--bg-color);
  background-size: cover;
  font-family: var(--main-font);
  font-size: 14px;
  background-image: repeating-linear-gradient(
      to right,
      var(--vert-gradient),
      transparent 2px
    ),
    repeating-linear-gradient(to bottom, var(--vert-gradient), transparent 2px),
    linear-gradient(
      to bottom,
      var(--line-gradient-beginning),
      var(--line-gradient-end)
    );
  background-attachment: fixed;
}

.header {
  max-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  margin: auto;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: clamp(7.4375rem, 7.0634rem + 1.5962vw, 8.5rem);
  border: solid 2px var(--text-color);
  background-color: var(--bg-color);
}

.title {
  display: block;
  text-align: center;
  font-variation-settings: "wght" var(--font-weight-bold);
  font-family: var(--accent-font);
  color: var(--text-color);
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
}

.additional_title {
  padding-top: 19px;
  text-align: center;
  text-wrap: nowrap;
  font-variation-settings: "wght" var(--font-weight-bold);
  font-family: var(--accent-font);
  color: var(--text-color);
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  text-transform: uppercase;
}

.letter {
  text-transform: lowercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 9px;
  margin-top: 23px;
  margin-bottom: 20px;
}

.theme-menu__button {
  padding-left: clamp(9.625rem, 6.0819rem + 15.1174vw, 19.6875rem);
  text-transform: uppercase;
  font-variation-settings: "wght" var(--font-weight-bold);
  font-family: var(--accent-font);
  color: var(--text-color);
  font-size: 14px;
  background-color: inherit;
  border: solid 1px transparent;
  outline: solid 1px transparent;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 60%;
}

.theme-menu__button_active {
  opacity: 60%;
}

.theme-menu__button:disabled::before {
  content: "▶";
  font-family: var(--accent-font);
  color: var(--text-color);
  opacity: 60%;
  position: absolute;
  left: clamp(8.4375rem, 4.9164rem + 15.0235vw, 18.4375rem);
  animation: movement 0.5s ease-in-out infinite alternate;
  outline: none;
}

.theme-menu__button:disabled {
  outline: none;
  animation: color 0.3s ease forwards;
  pointer-events: none;
  opacity: 60%;
}

.theme-menu__button:focus-visible {
  outline: none;
  color: var(--text-color);
  opacity: 60%;
  transition: color 0.3s;
  border: none;
}

.theme-menu__button:focus:after {
  border: solid 1px transparent;
  outline: solid 1px transparent;
}

.theme-menu__button:after {
  content: "";
  display: block;
  width: 0%;
  padding-top: 1px;
  outline: none;
  border: none;
  transition: width 0.3s, background-color 0.3s;
}

.theme-menu__button:focus-visible::after {
  outline: none;
  width: 100%;
  background-color: var(--text-color);
}

.theme-menu__button:focus {
  color: var(--text-color);
  outline: none;
}

.article {
  margin: auto;
  max-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  position: relative;
  padding-bottom: 26px;
  margin-top: 50px;
  border: solid 2px var(--text-color);
  background-color: var(--bg-color);
}

@media (width> 375px) {
  .article {
    margin-top: 50px;
    padding-bottom: 27px;
  }
}

.article_title {
  font-variation-settings: "wght" var(--font-weight-bold);
  padding-left: 11px;
  padding-right: 40px;
  padding-top: 5px;
  font-family: var(--main-font);
  color: var(--text-color);
  font-size: 18px;
}

@media (width> 375px) {
  .article_title {
    padding-left: 9px;
    padding-top: 5px;
  }
}

.wrapper {
  position: relative;
  margin-top: 7px;
  border-bottom: solid 2px var(--text-color);
  border-top: solid 2px var(--text-color);
  font-size: 0;
}

@media (width> 375px) {
  .wrapper {
    margin-top: 5px;
  }
}

.img {
  position: relative;
  width: 100%;
  height: 100%;
}

.accent_word {
  content: "</HTML>";
  position: absolute;
  top: 25px;
  right: 11px;
  z-index: 1;
  font-size: 14px;
  font-family: var(--accent-font);
  font-variation-settings: "wght" var(--font-weight-normal);
  color: var(--text-color);
  opacity: 50%;
  mix-blend-mode: hard-light;
  text-shadow: 1px 1px var(--shadow-color), -1px -1px var(--shadow-color);
}

@media (width> 375px) {
  .accent_word {
    right: 25px;
  }
}

@supports (-webkit-text-stroke: 1px var(--shadow-color)) {
  .accent_word {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--shadow-color);
    text-shadow: none;
  }
}

.text_container {
  margin-top: 23px;
}
@media (width> 375px) {
  .text_container {
    margin-top: 25px;
  }
}

.text {
  line-height: 21.08px;
  padding-right: 24px;
  padding-left: 26px;
  padding-bottom: 26px;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--font-weight-normal);
  color: var(--text-color);
  font-size: 18px;
}

.buttons {
  position: relative;
  border: solid 2px var(--text-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-variation-settings: "wght" var(--font-weight-normal);
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.5s ease-in-out;
}

.like-button {
  margin-top: 0px;
  display: flex;
  justify-content: end;
  margin-right: 25px;
  border: none;
  gap: 6px;
}

@media (width> 375px) {
  .like-button {
    gap: 4px;
  }
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 36px;
  background-color: inherit;
  border: none;
  padding: 0px;
  transition: 0.03s ease;
}

.card__like-button {
  line-height: 12.6px;
  width: 130px;
  height: 36px;
  background-color: inherit;
}

@media (width> 375px) {
  .card__like-button {
    margin-left: 3px;
    padding-left: 20px;
  }
}

.buttons:focus {
  outline: none;
}

.buttons:focus-visible {
  border: solid 1px var(--text-color);
  outline: none;
  box-shadow: 2px 2px 0 0 var(--text-color);
}

.card__icon-button:focus-visible {
  box-shadow: none;
  border: solid 2px var(--text-color);
}

.button__text {
  margin: auto;
  padding-left: 0px;
  padding-bottom: 5px;
  color: var(--button-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-variation-settings: "wght" var(--font-weight-normal);
  mix-blend-mode: difference;
}

@media (width> 375px) {
  .button__text {
    padding-bottom: 0px;
  }
}

.buttons:hover {
  cursor: pointer;
}

.buttons:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: 0.5s ease-in-out;
  background-color: var(--text-color);
}

.buttons:hover::before {
  width: 100%;
  background-color: var(--text-color);
}

.card__icon-button:hover:before {
  display: none;
  pointer-events: none;
}

.save_button {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  width: 306px;
  height: clamp(5.25rem, 5.8882rem + -2.723vw, 3.4375rem);
  margin-bottom: 103px;
}

.container {
  margin-left: 138.5px;
  margin-top: 0;
  width: 28px;
  height: 28px;
}

.like-icon:focus {
  outline: none;
}

.like-icon:hover {
  .main-body {
    fill: var(--contour-color);
    stroke: var(--contour-color);
    transition: 0.3s linear;
    animation-delay: 0.05s;
  }
  .core {
    fill: var(--contour-color);
    stroke: var(--contour-color);
    transition: 0.3s linear;
  }

  .contour {
    fill: var(--contour-color);
    stroke: var(--contour-color);
  }
}

.like-icon {
  padding: 0px;

  .main-body {
    transition: 0.3s linear;
  }

  .core {
    transition: 0.03s linear;
    animation-delay: 0.03s;
  }
  .sparks {
    fill: none;
  }
}

.like-icon:active {
  .main-body {
    fill: red;
    stroke: red;
    transition: 0.03s linear;
    animation-delay: 0.05s;
  }

  .core {
    fill: red;
    stroke: red;
    transition: 0.03s linear;
  }

  .contour {
    fill: var(--contour-color);
    stroke: var(--contour-color);
  }
}

.like-icon.is-liked {
  .main-body {
    fill: red;
    stroke: red;
    transition: 0.3s linear;
    animation-delay: 0.05s;
  }

  .core {
    fill: red;
    stroke: red;
    transition: 0.03s linear;
  }

  .contour {
    fill: red;
    stroke: red;
    transition: 0.3s linear;
    animation-delay: 0.06s;
  }

  .heart {
    fill: red;
    stroke: red;
    animation-delay: 0.1s;
    animation: transform 0.3s ease-in alternate;
  }

  .sparks {
    animation: change-color 0.3s ease-in alternate backwards;
    animation-delay: 0.03s;
  }
}

.like-icon .contour {
  color: var(--contour-color);
  transition: 0.1s linear;
}

.floppy {
  margin: auto;
  width: 28px;
  height: 28px;
  margin-left: 130px;
  margin-top: 14px;
  color: var(--button-color);
  mix-blend-mode: difference;
}

@media (width> 375px) {
  .floppy {
    margin: auto;
    width: 21px;
    height: 21px;
    margin-left: 16px;
    color: var(--button-color);
  }
}

.floppy_dialog {
  margin: auto;
  margin-top: 13px;
  padding-left: 3px;
  width: 77px;
  height: 58px;
  color: var(--text-color);
}

.dialog {
  margin-top: 32px;
  margin-left: 42px;
  background-color: var(--bg-color);
  width: 257px;
  display: flex;
}

@media (width> 375px) {
  .dialog {
    margin-left: 30px;
  }
}

dialog::backdrop {
  background-color: rgb(0 0 0/ 0.75);
}

.dialog_text {
  font-family: var(--accent-font);
  color: var(--text-color);
  font-variation-settings: "wght" var(--font-weight-normal);
  font-size: 14px;
  max-width: 234px;
  width: 100%;
  text-transform: uppercase;
  line-height: 21px;
}

.dialog_button {
  font-family: var(--accent-font);
  font-variation-settings: "wght" var(--font-weight-bold);
  color: var(--text-color);
  font-size: 14px;
  width: 255px;
  height: 38px;
  background-color: inherit;
  margin-left: 42px;
  margin-right: 42px;
  margin-bottom: 28px;
  margin-top: 20px;
  padding: 0;
  border: solid 2px var(--text-color);
  text-transform: uppercase;
}

@media (width> 375px) {
  .dialog_button {
    margin-left: 30px;
    margin-right: 30px;
    width: 293px;
  }
}

.dialog_button:hover {
  cursor: pointer;
}

#dialog-id {
  padding: 0px;
  margin: auto;
  background-color: var(--bg-color);
  width: 341px;
  border: solid 1px var(--text-color);
}

@media (width> 375px) {
  #dialog-id {
    padding: 0px;
    margin: auto;
    background-color: var(--bg-color);
    width: 357px;
    border: solid 1px var(--text-color);
  }
}

.blur {
  filter: blur(1.2rem);
}

.opacity {
  filter: opacity(0.2);
}

.grayscale {
  filter: grayscale(0.9);
}

.sepia {
  filter: sepia(95%);
}

.brightness {
  filter: brightness(900%);
}

.multy {
  filter: opacity(0.2) brightness(100%) invert(0.7);
}

.invert {
  filter: invert(0.7);
}

@media (width> 375px) {
  .save_button {
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    border: solid 2px var(--text-color);
    height: 55px;
    margin-top: 47px;
    width: 335px;
  }

  .button__text {
    line-height: 12.6px;
    padding-right: 14px;
    mix-blend-mode: difference;
    font-family: var(--accent-font);
    font-size: 14px;
    font-variation-settings: "wght" var(--font-weight-normal);
  }
}
